# Core
Django
djangorestframework
python-decouple
Pillow
requests

# API
django-filter
drf-spectacular
drf-spectacular[sidecar]
djangorestframework-simplejwt
django-cors-headers

# Database
psycopg
psycopg-binary

# Development
django-debug-toolbar

# Formatting & Linting
black
flake8

# Testing
pytest
pytest-django
faker

# Background Tasks & Cache
# celery
# redis
# django-celery-beat
# django-celery-results
# django-redis