# Core
Django==5.2.15
djangorestframework
python-decouple
Pillow==12.2.0
requests==2.32.3
django-templated-email

# API
django-filter
drf-spectacular
drf-spectacular[sidecar]
djangorestframework-simplejwt
django-cors-headers==4.9.0

# Database
psycopg==3.3.4
psycopg-binary==3.3.4

# Development
django-debug-toolbar

# Formatting & Linting
black
flake8

# Testing
pytest
pytest-django
Faker

# Background Tasks & Cache
celery
redis
django-celery-beat
django-celery-results
django-redis